.form-container {
    width: 450px;
    margin: 0 auto;
}

@media screen and (max-width:576px) {
    .form-container {
        width: 300px;
        margin: 0 auto;
    }

    .form-container h1 {
        font-size: 30px
    }
}