.social-button button {
    border: none;
    margin-left: 20px;
    background-color: white;
}

@media screen and (max-width:576px) {
    .footer-logo {
        font-size: 20px !important;
    }

    .footer-text {
        font-size: 0.8em;
    }

    .text-warning {
        font-size: 0.8em;
    }

    .social-button img {
        width: 60%;
    }
}