.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

@media screen and (max-width: 992px) {

    .services-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {

    .services-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}